DATABASE_URL=postgresql://neondb_owner:npg_fG5bPRnOcTQ0@ep-autumn-night-ay50kiol-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
ADMIN_EMAIL=your-admin-email@example.com
ADMIN_PASS=change-this-to-a-strong-password
